@tailwind base;
@tailwind components;
@tailwind utilities;

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.transform-3d {
  transform-style: preserve-3d;
  transition: transform 0.1s ease;
}

.perspective-3000 {
  perspective: 3000px;
}

.riser, .shadow {
  backface-visibility: hidden;
}
